<div class="container">
    <div class="card m-3 p-3">
    <h1 class="mt-2 mb-3 text-center">Exibir Usuário</h1>
    {{#if table}}
    <table class="table table-striped mt-3" style="">
        <thead>
            <tr>
                <th class="text-center">#ID</th>
                <th class="text-center">Nome</th>
                <th class="text-center">E-mail</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>

        <tbody>
            {{#each usuarios}}
            <tr class="text-center">
                <td>{{id}}</td>
                <td>{{nome}}</td>
                <td>{{email}}</td>
                <td>
                    <form action="/editar_users" method="post">
                    <input type="hidden" name="id" value="{{id}}">
                    <button class="btn btn-success m-1">Editar</button>
                    </form>
                    <form action="/deletar_users" method="post">
                    <input type="hidden" name="id" value="{{id}}">
                    <button class="btn btn-danger m-1">Deletar</button>
                    </form>
                </td>
                {{/each}}
            </tr>
            </tr>
        </tbody>
    </table>
    {{else}}
    <div class="card mt-4">
      <div class="card-body">
        Nenhum dado encontrado!
      </div>
    </div>
{{/if}}
    </div>   
    </div>
